@font-face {
    font-family: Kaushan;
    src: url("../fonts/KaushanScript-Regular.otf");
}
@font-face {
    font-family: Aller;
    src: url("../fonts/AllerDisplay.ttf");
}
@font-face {
    font-family: Chunkfive;
    src: url("../fonts/Chunkfive.otf");
}
